2.	List the S&P 500 companies that have the top 5 highest trailingPE, and the top 5 with highest forwardPE. Pick one of the companies in each case and explain if there was anything unusual about the company in the past year. Repeat the exercise for the 5 lowest ratios.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import importlib.util
package_name = 'yfinance'
spec = importlib.util.find_spec(package_name)
if spec is None:
    print(package_name +" is not installed")
    !pip install yfinance

import yfinance as yf

#single Stock
apple = yf.download('AAPL', 
                       start='2000-01-01', 
                       end='2022-12-31')

[*********************100%***********************]  1 of 1 completed

In [3]:
import pandas as pd

# There are 2 tables on the Wikipedia page, we want the first table
# second table shows the evolution of the changes

components = \
pd.read_html('https://en.wikipedia.org/wiki/List_of_S&P_500_companies')

first_table = components[0]
second_table = components[1]
sp_df = first_table
sp_df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
SP500_PE=[]


for symbol in sp_df['Symbol']:
    try:
    #if symbol not in ['INFO', 'AES']:
        sym=symbol.replace('.', '-')  #For dual shares, eg, BRK.B, we have to change it to BRK-B
        ticker_yahoo = yf.Ticker(sym)
        print(symbol,round(ticker_yahoo.info['forwardPE'],2))
        SP500_PE.append(
            {
                "Ticker":sym,
                "trailingPE":ticker_yahoo.info['trailingPE'], 
                "forwardPE": ticker_yahoo.info['forwardPE'],
                "name": ticker_yahoo.info['longName']
            }
        )
    except:
        pass
    
SP500_PE=pd.DataFrame(SP500_PE)

MMM 10.47
AOS 18.43
ABT 23.77
ABBV 13.31
ACN 22.06
ATVI 18.26
ADM 11.51
ADBE 19.64
ADP 23.98
AAP 10.7
AES 11.45
AFL 10.85
A 20.35
APD 22.2
AKAM 13.66
ALK 6.1
ALB 9.47
ARE 31.96
ALGN 29.85
ALLE 15.36
LNT 17.53
ALL 9.06
GOOGL 18.58
GOOG 18.8
MO 8.68
AMZN 43.78
AMCR 14.0
AMD 23.87
AEE 18.14
AAL 4.53
AEP 16.03
AXP 12.01
AIG 6.81
AMT 40.47
AWK 28.88
AMP 8.97
ABC 13.61
AME 22.34
AMGN 12.4
APH 23.6
ADI 16.85
ANSS 30.92
AON 20.7
APA 5.42
AAPL 26.31
AMAT 17.84
APTV 15.14
ACGL 11.0
ANET 20.53
AJG 22.0
AIZ 9.52
T 6.81
ATO 18.34
ADSK 23.58
AZO 18.47
AVB 35.66
AVY 16.65
AXON 54.84
BKR 13.95
BALL 16.16
BAC 8.25
BBWI 9.61
BAX 12.86
BDX 18.41
WRB 10.54
BRK.B 18.08
BBY 10.36
BIO 23.83
TECH 33.5
BIIB 19.12
BLK 16.07
BK 7.84
BA 38.55
BKNG 16.1
BWA 7.57
BXP 23.27
BSX 24.18
BMY 8.36
AVGO 14.58
BR 20.54
BRO 23.69
BF.B 31.35
BG 8.13
CHRW 21.42
CDNS 35.49
CZR 20.11
CPT 61.49
CPB 16.93
COF 6.31
CAH 13.15
KMX 20.84
CCL 13.22
CARR 15.34
CTLT 13.28
CAT 11.63
CBOE 18.36
CBRE 12.81
CDW 16.45
CE 7.44
CNC 10.03
CNP 18.33
CDAY 28.03
CF 9.01
CRL 15.88
SCHW 12.16
CHTR 8.75
CVX 10.77
CMG 38.22
CB 9.92
CHD 28.61
CI 9.11
CINF 17.63
CTAS 32.89
CSCO 11.69
C 7.23
CFG 5.98
CLX 29.62
CME 20.65
CMS 18.13
KO 22.75
CTSH 13.41
CL 23.64
CMCSA 9.8
CMA 4.44
CAG 12.73
COP 10.02
ED 18.83
STZ 17.44
CEG 15.38
COO 27.09
CPRT 31.03
GLW 12.95
CTVA 16.69
CSGP 50.32
COST 32.26
CTRA 8.66
CCI 32.82
CSX 15.46
CMI 11.05
CVS 7.7
DHI 9.8
DHR 21.88
DRI 17.3
DVA 13.51
DE 11.52
DAL 4.88
XRAY 17.96
DVN 7.14
DXCM 79.74
FANG 6.06
DLR 64.72
DFS 6.93
DISH 109.5
DIS 17.49
DG 17.46
DLTR 20.07
D 14.57
DPZ 20.55
DOV 14.21
DOW 10.93
DTE 16.88
DUK 16.08
DD 13.28
DXC 5.86
EMN 8.87
ETN 18.27
EBAY 9.77
ECL 29.6
EIX 14.16
EW 30.77
EA 16.32
ELV 12.24
LLY 35.41
EMR 17.91
ENPH 23.14
ETR 14.66
EOG 8.43
EPAM 18.83
EQT 7.07
EFX 22.71
EQIX 68.73
EQR 37.18
ESS 36.28
EL 37.26
ETSY 31.56
RE 6.68
EVRG 15.58
ES 16.49
EXC 16.3
EXPE 7.71
EXPD 21.67
EXR 23.1
XOM 11.19
FFIV 11.16
FDS 24.13
FICO 32.78
FAST 25.34
FRT 34.18
FDX 12.15
FITB 7.0
FSLR 17.14
FE 14.59
FIS 8.53
FISV 14.25
FLT 11.65
FMC 12.49
F 7.23
FTNT 39.63
FTV 17.89
FOXA 10.07
FOX 12.18
BEN 9.54
FCX 16.13
GRMN 18.21
IT 28.36
GEHC 17.47
GEN 6.73
GNRC 14.42
GD 14.24
GE 25.44
GIS 20.11
GM 4.96
GPC 17.36
GILD 10.92
GL 9.58
GPN 8.72
GS 8.46
HAL 7.91
HIG 7.21
HAS 12.5
HCA 13.97
PEAK 37.39
HSIC 13.67
HSY 26.23
HES 15.01
HPE 6.65
HLT 21.38
HOLX 20.09
HD 17.26
HON 19.3
HRL 21.19
HST 14.97
HWM 21.51
HPQ 8.21
HUM 16.27
HBAN 6.98
HII 11.97
IBM 12.31
IEX 23.2
IDXX 44.21
ITW 22.17
ILMN 65.66
INCY 14.12
IR 19.98
PODD 152.03
INTC 17.03
ICE 18.25
IFF 15.15
IP 12.38
IPG 11.52
INTU 27.36
ISRG 47.98
IVZ 7.84
INVH 46.68
IQV 16.0
IRM 27.97
JBHT 18.17
JKHY 29.09
J 13.56
JNJ 14.5
JCI 15.37
JPM 9.69
JNPR 11.35
K 16.27
KDP 16.85
KEY 5.42
KEYS 17.46
KMB 20.35
KIM 29.2
KMI 14.03
KLAC 19.66
KHC 13.26
KR 10.86
LHX 13.65
LH 11.95
LRCX 21.39
LW 22.96
LVS 19.53
LDOS 10.67
LEN 10.55
LNC 2.26
LIN 30.18
LYV 57.83
LKQ 13.05
LMT 16.11
L 20.13
LOW 13.7
LYB 8.71
MTB 6.96
MRO 5.61
MPC 8.25
MKTX 33.78
MAR 19.26
MMC 21.52
MLM 21.94
MAS 13.85
MA 26.3
MTCH 13.52
MKC 31.44
MCD 24.47
MCK 12.93
MDT 17.08
MRK 13.71
META 16.42
MET 5.56
MTD 28.21
MGM 16.87
MCHP 11.61
MU 102.6
MSFT 28.34
MAA 31.4
MRNA -31.39
MHK 8.33
MOH 12.67
TAP 14.25
MDLZ 22.34
MPWR 29.87
MNST 33.36
MCO 27.8
MS 10.81
MOS 8.03
MSI 23.46
MSCI 31.53
NDAQ 19.02
NTAP 11.58
NFLX 23.57
NWL 7.25
NEM 13.97
NWSA 25.36
NEE 22.81
NKE 29.66
NI 16.59
NDSN 22.19
NSC 14.77
NTRS 10.4
NOC 17.94
NCLH 8.79
NRG 6.35
NUE 12.05
NVDA 47.39
NVR 13.67
NXPI 11.69
ORLY 22.78
OXY 10.11
ODFL 24.25
OMC 11.74
ON 15.4
OKE 12.05
ORCL 17.43
OGN 4.56
OTIS 21.84
PCAR 11.34
PKG 15.49
PARA 10.76
PH 14.79
PAYX 23.57
PAYC 29.44
PYPL 11.02
PNR 14.53
PEP 24.47
PKI 19.8
PFE 10.5
PCG 12.83
PM 13.83
PSX 8.26
PNW 17.31
PXD 8.78
PNC 8.45
POOL 19.96
PPG 17.17
PPL 16.55
PFG 9.2
PG 24.45
PGR 16.84
PLD 43.05
PRU 6.07
PEG 16.91
PTC 25.05
PSA 24.36
PHM 7.58
QRVO 12.66
PWR 21.34
QCOM 11.06
DGX 14.53
RL 12.28
RJF 8.92
RTX 16.73
O 41.29
REG 27.12
REGN 17.36
RF 7.09
RSG 25.27
RMD 31.59
RHI 13.01
ROK 21.15
ROL 43.19
ROP 26.39
ROST 19.19
RCL 10.97
SPGI 25.02
CRM 22.85
SBAC 40.64
SLB 11.93
STX 25.02
SEE 10.47
SRE 15.71
NOW 39.89
SHW 22.8
SPG 14.77
SWKS 10.85
SJM 16.37
SNA 13.93
SEDG 23.75
SO 17.97
LUV 7.69
SWK 15.79
SBUX 25.82
STT 7.89
STLD 10.2
STE 21.94
SYK 25.75
SYF 5.25
SNPS 30.82
SYY 16.62
TMUS 15.03
TROW 15.23
TTWO 25.68
TPR 10.27
TRGP 10.76
TGT 15.26
TEL 16.25
TDY 20.04
TFX 16.98
TER 20.13
TSLA 34.09
TXN 20.43
TXT 12.15
TMO 19.71
TJX 20.11
TSCO 20.03
TT 19.34
TDG 28.78
TRV 10.72
TRMB 16.54
TFC 6.44
TYL 45.47
TSN 12.56
USB 6.24
UDR 58.93
ULTA 18.9
UNP 16.2
UAL 4.25
UPS 14.24
URI 7.91
UNH 17.31
UHS 12.16
VLO 8.05
VTR 314.53
VRSN 28.33
VRSK 33.38
VZ 7.82
VRTX 21.6
VFC 9.89
VTRS 3.25
VICI 12.68
V 23.83
VMC 25.61
WAB 16.39
WBA 6.56
WMT 22.4
WBD 22.47
WM 24.94
WAT 19.51
WEC 18.8
WFC 7.96
WELL 69.68
WST 40.83
WDC -24.34
WRK 10.02
WY 25.93
WHR 7.34
WMB 16.63
WTW 13.49
GWW 17.41
WYNN 25.47
XEL 18.86
XYL 27.83
YUM 23.31
ZBRA 14.85
ZBH 17.21
ZION 4.74
ZTS 30.29

In [5]:
SP500_PE

    Ticker trailingPE  forwardPE                                        name
0      MMM  10.381198  10.467708                                  3M Company
1      AOS  42.893078  18.432432                     A. O. Smith Corporation
2      ABT  33.284847  23.774890                         Abbott Laboratories
3     ABBV  34.491764  13.314260                                 AbbVie Inc.
4      ACN  25.576958  22.059620                               Accenture plc
..     ...        ...        ...                                         ...
457    YUM   32.34272  23.313028                           Yum! Brands, Inc.
458   ZBRA  33.795258  14.849151              Zebra Technologies Corporation
459    ZBH   64.23474  17.210064                Zimmer Biomet Holdings, Inc.
460   ZION   4.158975   4.742690  Zions Bancorporation, National Association
461    ZTS  41.689346  30.288303                                 Zoetis Inc.

[462 rows x 4 columns]

In [6]:
print(SP500_PE['trailingPE'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 462 entries, 0 to 461
Series name: trailingPE
Non-Null Count  Dtype
--------------  -----
462 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB
None

In [10]:
# Convert 'trailingPE' column to numeric data type and drop any rows with missing values
SP500_PE['trailingPE'] = pd.to_numeric(SP500_PE['trailingPE'], errors='coerce')
SP500_PE = SP500_PE.dropna(subset=['trailingPE'])
#SP500_PE_no_inf = SP500_PE.replace([float('inf'), float('-inf')], " ").dropna(subset=['trailingPE'])

# Sort the DataFrame by descending order of 'trailingPE' values
SP500_PE_sorted = SP500_PE.sort_values('trailingPE', ascending=False)

# Get the 5 rows with the highest 'trailingPE' values
top_5_trailingPE = SP500_PE_sorted.nlargest(6, 'trailingPE')

# Round 'trailingPE' values to 2 decimal places
top_5_trailingPE['trailingPE'] = top_5_trailingPE['trailingPE'].round(2)
top_5_trailingPE['forwardPE'] = top_5_trailingPE['forwardPE'].round(2)

# Display the top 5 rows
print(top_5_trailingPE)

    Ticker  trailingPE  forwardPE                              name
236   PODD         inf     152.03               Insulet Corporation
100   CINF     5200.50      17.63  Cincinnati Financial Corporation
380    CRM     1016.65      22.85                  Salesforce, Inc.
25     AMD      512.63      23.87      Advanced Micro Devices, Inc.
185   FSLR      434.49      17.14                 First Solar, Inc.
449   WELL      308.19      69.68                    Welltower Inc.

In [11]:
# Get the 5 rows with the lowest 'trailingPE' values
bottom_5_trailingPE = SP500_PE_sorted.nsmallest(6, 'trailingPE')

# Round 'trailingPE' values to 2 decimal places
bottom_5_trailingPE['trailingPE'] = bottom_5_trailingPE['trailingPE'].round(2)
bottom_5_trailingPE['forwardPE'] = bottom_5_trailingPE['forwardPE'].round(2)

# Display the bottom 5 rows
print(bottom_5_trailingPE)

    Ticker  trailingPE  forwardPE                            name
138   DISH        2.03     109.50        DISH Network Corporation
164    EQT        3.05       7.07                 EQT Corporation
433    VLO        3.21       8.05       Valero Energy Corporation
278    MPC        3.40       8.25  Marathon Petroleum Corporation
345    PSX        3.60       8.26                     Phillips 66
112    CMA        3.61       4.44           Comerica Incorporated

In [15]:
# Convert 'forwardPE' column to numeric data type and drop any rows with missing values
SP500_PE['forwardPE'] = pd.to_numeric(SP500_PE['forwardPE'], errors='coerce')
SP500_FPE = SP500_PE.dropna(subset=['forwardPE'])

# Sort the DataFrame by descending order of 'forwardPE' values
SP500_PE_sorted_1 = SP500_FPE.sort_values('forwardPE', ascending=False)

# Get the 5 rows with the highest 'forwardPE' values
top_5_forwardPE = SP500_PE_sorted_1.nlargest(6, 'forwardPE')

# Round 'forwardPE' values to 2 decimal places
top_5_forwardPE['trailingPE'] = top_5_forwardPE['trailingPE'].round(2)
top_5_forwardPE['forwardPE'] = top_5_forwardPE['forwardPE'].round(2)

# Display the top 5 rows
print(top_5_forwardPE)

    Ticker  trailingPE  forwardPE                      name
236   PODD         inf     152.03       Insulet Corporation
138   DISH        2.03     109.50  DISH Network Corporation
296     MU       45.84     102.60   Micron Technology, Inc.
134   DXCM      166.12      79.74              DexCom, Inc.
449   WELL      308.19      69.68            Welltower Inc.
166   EQIX       84.12      68.73             Equinix, Inc.

In [18]:
# Get the 5 rows with the lowest 'forwardPE' values
bottom_5_forwardPE = SP500_PE_sorted_1.nsmallest(6, 'forwardPE')

# Round 'forwardPE' values to 2 decimal places
bottom_5_forwardPE['trailingPE'] = bottom_5_forwardPE['trailingPE'].round(2)
bottom_5_forwardPE['forwardPE'] = bottom_5_forwardPE['forwardPE'].round(2)

# Display the bottom 5 rows
print(bottom_5_forwardPE)

    Ticker  trailingPE  forwardPE                            name
299   MRNA       11.23     -31.39                   Moderna, Inc.
439   VTRS        5.48       3.25                    Viatris Inc.
428    UAL        7.67       4.25  United Airlines Holdings, Inc.
112    CMA        3.61       4.44           Comerica Incorporated
27     AAL        5.25       4.53    American Airlines Group Inc.
331    OGN        7.24       4.56                   Organon & Co.